export("KAT")
export("KAT.checkData")
export("KAT.plot")
importFrom("locfit", locfit, locfit.robust)
importFrom("R.matlab", readMat, writeMat)
importFrom("matlab", rot90)
importFrom("grDevices", "colorRampPalette", "dev.new", "dev.off", "dev.set", "graphics.off", "palette", "pdf")
importFrom("graphics", "abline", "frame", "image", "layout", "lines", "locator", "par", "plot", "points", "text")
importFrom("stats", "approxfun", "median", "optim", "preplot", "quantile")
importFrom("utils", "head", "tail", "write.table")
